:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    /* Size */
    --padding: 12px;
    --avatar-size: 36px;
    --next-video-width: 168px;
    --next-video-height: 94px;
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul, li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: var(--black-color);
}

button, button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

/* Pop Up Window */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    padding: var(--padding);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(33,33,33);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    display: felx;
    text-align: center;
    color: rgb(218,218,218);
  }

.pu_head {
    padding-bottom: var(--padding);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#closeBtn {
    padding-left: 100px;
}

.pu_body{
    padding: var(--padding);
}

.pu_body li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-medium);
    margin-bottom: var(--padding);
}

.pu_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    padding-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.create_playlist_btn {
    color: rgb(218,218,218);
    font-size: 16px;
}

.show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.close {
height: 100%;
align-items: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
} 

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* Video Player */
.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 1000px;
}

/* Video Info */
body > .info {
    padding: var(--padding);
}

.info .metadata {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}
.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .titleAndBtn {
    display: flex;
}

.info .metadata .titleAndBtn .title{
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--padding);
}

.info .metadata .titleAndBtn .moreBtn {
    height: 100%;
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.action {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.actionClicked {
    color: var(--blue-color);
}

.action button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.action button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    font-size: 16px;
}



/* Channle Description */
.channel {
    padding: calc(var(--padding) / 2);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
    display: flex;
    align-items: center;
}

.channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.channel .metadata .info .name {
    font-size: var(--font-medium);
    padding-left: var(--padding);
}

.subscirbersa {
    padding-left: var(--padding);
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.channel .subscribe {
    color: var(--red-color);
    font-size: var(--font-medium);
    margin-right: 20px;
}

/* Up Next */
.upNext {
    padding: var(--padding);
}

.upNext > .title {
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding) / 2); 
}

.upNext .item {
    display: flex;
    margin-top: var(--padding);

}

.upNext .item .img {
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.upNext .item .img img {
    width: 100%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
}

.upNext .item .moreBtn {
    flex: 1 1 5%;
}

.upNext .item .info .title {
    font-size: var(--font-large);
}
.upNext .item .info .name {
    font-size: var(--font-medium);
}

.upNext .item .info .views {
    font-size: var(--font-small);
}

.infoAndUpnext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUpnext {
        flex-direction: row;
    }
    .infoAndUpnext > .info {
        flex: 1 1 50%;
    }
    .infoAndUpnext .upNext {
        flex: 1 1 50%;
    }
}